* {
  font-family: "roboto", sans-serif;
}
:root {
  --bg-color: hsl(194, 5%, 7%);
  --bg-menu-color: hsl(0, 3%, 88%);
  --border-color: rgb(92, 123, 136);
  --placeholder-color: rgb(193, 191, 191);
}

body {
  background-color: var(--bg-color);
}

main {
  background-color: var(--bg-color);
  display: grid;
  height: 100vh;
  place-content: center;
}

#menu {
  background-color: var(--bg-menu-color);
  border: 5px solid var(--border-color);
  border-radius: 2rem;
}

.title {
  width: 30rem;
}

#ul_list {
  margin: 0 auto;
}

#ul_list li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  min-width: 25rem;
  min-height: 5rem;
}

#menu #ul_list {
  list-style: none;
}

#menu li a {
  text-decoration: none;
  color: black;
}

#menu ul {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  justify-content: center;
  gap: 5rem;

  font-weight: bolder;
}

@media (min-width: 375px) and (max-width: 767px) {
  #menu {
    min-width: 37.5rem;
    min-height: 66.7rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #menu {
    min-width: 37.5rem;
    min-height: 66.7rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  #menu {
    width: 40rem;
    height: 80rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 1280px) {
  #menu {
    width: 40rem;
    height: 80rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
