*{
margin: 0;
padding: 0;
box-sizing: border-box;

/*para embelezamento das fontes no mozila e aqueles que usam -webkit como
edge e chrome*/

-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

:root{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}




